select, input, button{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    outline: 0;
    border: 0;
    background: #F1F1F1;
    transition: background ease .2s;
}

button{
    &:hover{
        background: darken($white, 20%);
    }
}