h1, h2, h3, h4{
    margin: {
        top: 30px;
        bottom: 10px;
    }
    font-weight: bold;
    font-family: $font-heading;
    line-height: 1.2;
    a{
        border: 0;
    }
}

h1, .blog-title{
    letter-spacing: -2px;
    font-size: 35px;
    font-size: 3.5rem;
}
h2{
    font-size: 35px;
    font-size: 3.5rem;
}

h3{
    font-size: 25px;
    font-size: 2.5rem;
}
h4{
    font-weight: 700;
    font-size: 15px;
    font-size: 1.5rem;
}

a{
    border-bottom: 1px solid rgba(0,0,0,.3);
    color: $black;
    text-decoration: none;

    @include transition(all .2s);
    &:hover{
        border-color: $black;
        color: $black;
    }
}

p, blockquote, figure, canvas, iframe, form{
    margin: {
        bottom: 20px;
    }
}

.note{
    padding: 10px;
    background: darken($white, 10%);
}

mark{
    padding: 2px;
    background-color: #FDFFB6;
    box-shadow: #FDFFB6 0 0 5px;
}

sup{
    vertical-align: super;
    font-size: 13px;
    font-size: 1.3rem;
}

blockquote{
    padding-left: 20px;
    border-left: 4px solid darken($white, 10%);
    font-family: "Noto Serif", serif;
    img{
        margin: 20px 0 !important;
        width: 100% !important;
    }
}

q{
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 125%;
    font-family: "Noto Serif", serif;
}

cite{
    display: block;
    color: darken($white, 20%);
    text-transform: capitalize;
    font-style: normal;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: $font;
    a{
        border: none;
        color: inherit;
    }
    &:before{
        content: "\2014 \2009";
    }
}
ul, ol{
    margin: {
        top: 10px;
        bottom: 20px;
        left: 20px;
    }
    li{
        margin: 0;
    }
}

ul{
    list-style: square;
    ul, ol{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
    }
}

ol{
    margin-left: 25px;
    list-style: decimal;
    ul, ol{
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 20px;
    }
}

em{
    font-style: italic;
}

strong{
    font-weight: bold;
}

.gallery{
    margin-left: -5px;
    padding: 5px;
    width: 100%;
    a{
        border: 0;
        &:hover{
            border-color: none;
        }
    }
    img{
        margin: auto;
        width: auto;
        height: auto;
    }
}

img{
    display: block;
    margin-left: auto;
    margin-left: calc(0% - 20px);
    max-width: 100%;
    max-width: calc(100% + 40px);
    width: 100%;
    width: calc(100% + 40px);
    height: auto;
    &[src$="#small"]{
        margin: {
            right: auto;
            left: auto;
        }
        max-width: 100%;
        width: auto;
    }
    &[src$="#large"]{
        margin-left: calc(0% - 20px);
        max-width: calc(100% + 40px);
    }
    &:not(.full-loaded){
        @include transition(all .2s);
    }
    &.full-loaded{
        position: absolute!important;
        left: 0!important;
        margin: 0!important;
        max-width: 100%!important;
        width: 100%!important;
    }
}

code{
    padding: 3px 6px;
    background: #F1F1F1;
    color: $black;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: $font-monospace;
}

pre{
    margin: {
        top: 30px;
        right: 20px;
        bottom: 10px;
        left: 20px;
    }
    word-wrap: break-word;
    code{
        padding: 0;
        background: none;
        font-size: 15px;
        font-size: 1.5rem;
        font-family: $font-monospace;
    }
}
hr{
    height: 4px;
    border: 0;
    background: darken($white, 10%);
}


.hidden{
    display: none;
}

.fluid-width-video-wrapper{
    margin: {
        top: 30px;
        bottom: 10px;
    }
}

@import "formatting-forms";

@media screen and (min-width: $mobile-width){
    h1, .blog-title{
        font-size: 40px;
        font-size: 4rem;
    }
    h1, h2, h3, h4{
        margin: {
            top: 40px;
            bottom: 10px;
        }
    }
}
@media screen and (min-width: $tablet-width){
    h1, .blog-title{
        font-size: 50px;
        font-size: 5rem;
    }
    q{
        width: 100%;
        width: calc(100% + 40px);
    }
    img, q{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-left: calc(0% - 20px);
        max-width: 100%;
        max-width: calc(100% + 40px);
    }
}

@media screen and (min-width: $laptop-width){
    .alignleft, .alignright{
        margin-bottom: 1em;
        padding-bottom: 0;
        width: 300px;
        img{
            margin: 0;
        }
    }
    .alignleft{
        float: left;
        margin-right: 2em;
        margin-left: -160px;
        q{
            margin: 0;
            width: initial;
            text-align: right;
        }
    }

    blockquote.alignleft{
        padding-right: 20px;
        padding-left: 0;
        border-right: 4px solid darken($white, 10%);
        border-left: 0;
        text-align: right;
    }

    q.alignleft{
        margin-top: 0;
        text-align: right;
    }

    .alignright{
        float: right;
        margin-right: -160px;
        margin-left: 2em;
        q, &q{
            margin: 0;
            width: initial;
            text-align: left;
        }
    }
    q.alignright{
        margin: 0;
        text-align: left;
    }
}
@media screen and (min-width: $site-width){
    h1, .blog-title{
        font-size: 60px;
        font-size: 6rem;
    }
    img, q{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: -5%;
        max-width: 110%;
        width: 110%;
        &[src$="#large"], [src$="#full"]{
            margin-top: 40px;
            margin-bottom: 40px;
            margin-left: -10%;
            max-width: 120%;
            width: 120%;
        }
    }
    .full-image-container{
        margin: 40px 0;
    }
    .wide{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: -10%;
        max-width: 120%;
        width: 120%;
    }
    .gallery{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: calc(-10% - 5px);
        max-width: 120%;
        width: 120%;
    }
}

@media screen and (min-width: $desktop-width){
    img, q{
        margin-top: 40px;
        margin-bottom: 40px;
        margin-left: -25%;
        max-width: 150%;
        width: 150%;
        &[src$="#large"], [src$="#full"]{
            margin-left: -50%;
            max-width: 200%;
            width: 200%;
        }
    }
    .wide{
        margin-left: -50%;
        max-width: 200%;
        width: 200%;
    }
    .gallery{
        margin-left: calc(-50% - 5px);
        max-width: 200%;
        width: 200%;
    }
}


@import "github";