body{
    overflow-y: scroll;
    min-height: 100%;
    height: 100%;
    background: darken($white, 5%);
    color: $transparent-grey;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: $font;
    line-height: 1.8;
}
#header{
    overflow: hidden;
    max-height: 100vh;
    background-color: #333333;
    background-position: center;
    background-size: cover;
    .header-background{
        display: flex;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
    }

    .header-content{
        margin: auto;
        padding: 60px 20px 20px 20px;
        width: $wrapper-width;
        color: $white;
        h1{
            margin: {
                right: 0;
                bottom: 20px;
                left: 0;
            };
            font-weight: 400;
            cursor: default;
            animation-delay: .5s;
        }
        a{
            color: $white;
            text-decoration: none;
        }

        .post-data, .tag-data, .author-data{
            color: $grey;
            font-size: 14px;
            font-size: 1.4rem;
            cursor: default;
            a{
                border: 0;
                color: #8D8D8D;
                &:hover{
                    color: $white;
                }
            }
            > span{
                display: block;
            }
            .date, .location{
                animation-delay: .75s;
            }
            .tags, .website{
                animation-delay: 1s;
                i{
                    font-size: 85%;
                }
            }
            .author, .bio{
                animation-delay: 1.25s;
            }
        }
    }
    .blog-content{
        .blog-title{
            float: left;
            border: 0;
            color: $white;
            font-weight: 700;
            line-height: 60px;
        }
        .blog-description{
            display: none;
            float: left;
            margin-left: 10px;
            color: darken($white, 20%);
            font-size: 14px;
            font-size: 1.4rem;
            line-height: 60px;
            cursor: default;
        }
        nav.links{
            float: right;
            line-height: 60px;
            cursor: default;
            ul{
                margin: 0;
                list-style: none;
                cursor: default;
                li{
                    display: inline-block;
                    cursor: default;
                    a{
                        border: 0;
                        color: $white;
                    }
                }
            }
        }
    }
}

.home-template, .archive-template{
    #header{
        position: relative;
        height: 60px;
        background: $white;
        .header-background{
            background: none;
        }
        .blog-content{
            position: absolute;
            box-sizing: border-box;
            padding: 0 20px;
            width: 100%;
            color: darken($white, 40%);

            a{
                color: darken($white, 40%);
                &:hover{
                    color: black;
                }
            }
            .blog-title{
                margin: 0;
                letter-spacing: 0;
                font-size: 14px;
                font-size: 1.4rem;
            }
            nav.links ul li a{
                color: darken($white, 40%);
                &:hover{
                    color: black;
                }
            }
        }
    }
}
.tag-template, .author-template{
    #main{
        article{
            position: relative;
        }
    }
}

.post-template, .tag-template, .author-template{
    #header{
        position: relative;
        .blog-content{
            position: absolute;
            box-sizing: border-box;
            padding: 0 20px;
            width: 100%;
            .blog-title{
                margin: 0;
                letter-spacing: 0;
                font-size: 14px;
                font-size: 1.4rem;
            }
            .blog-description{
                display: none;
            }
        }
    }
}

.post-template, .page-template{
    #main{
        padding: 40px 20px;
        background: $white;
    }
}

#main{
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 20px;
    article{
        margin: 0 auto;
        max-width: $wrapper-width;
        animation-delay: 1.25s;
        .post-meta{
            h2{
                margin-top: 10px;
            }
        }
        .post-content{
            > *:first-child{
                margin-top: 0;
            }
            > *:last-child{
                margin-bottom: 0;
            }
        }
    }
    #feed{
        position: relative;
        padding-bottom: 40px;
        #loadmore{
            position: absolute;
            bottom: 5px;
            left: 50%;
            text-transform: uppercase;
            transform: translateX(-50%);
            animation-delay: 1s;;
            a{
                padding: 10px 20px;
                border: 0;
                background: white;
                text-decoration: none;
                font-size: 14px;
                font-size: 1.4rem;
                cursor: pointer;
                &:hover{
                    border: 0;
                    background: #D5D5D5;
                    text-decoration: none;
                }
            }
        }
    }
    &.archive{
        overflow: hidden;
        background: darken($white, 5%);
        .post{
            float: left;
            box-sizing: border-box;
            margin: inherit;
            margin-bottom: $gutter;
            max-width: 100%;
            width: 100%;
            background: $white;
            transition: opacity 1s;

            $post-padding: 20px;
            a{
                border-color: rgba(0,0,0,0);
                &:hover{
                    border-color: $black;
                }
            }
            .post-image{
                position: relative;
                display: block;
                overflow: hidden;
                border: 0;
                background: black;
                color: $white;
                img{
                    margin: 0;
                    max-width: 100%;
                    width: 100%;
                    opacity: .5;
                    transition: all ease .5s;
                }
                .post-title{
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    font-weight: 400;
                    transition: transform ease .5s;
                }
                &:hover{
                    img{
                        opacity: 1;
                        transform: scale(1.1);
                    }
                    .post-title{
                        transform: translateY(110%);
                    }
                }
            }
            .post-title{
                margin: 0 $post-padding $post-padding $post-padding;
                padding-top: $post-padding;
                font-size: 25px;
                font-size: 2.5rem;
            }
            .post-content{
                box-sizing: border-box;
                margin: $post-padding - 5 $post-padding;
                color: darken($white, 40%);
                font-size: 14px;
                font-size: 1.4rem;
                cursor: default;
            }
            .post-meta{
                box-sizing: border-box;
                padding: 15px $post-padding;
                width: 100%;
                border-top: 1px solid #F7F7F7;
                background: #FFFFFF;
                color: #CCCCCC;
                font-size: 14px;
                font-size: 1.4rem;
                cursor: default;
                a{
                    color: inherit;
                    &:hover{
                        color: black;
                    }
                }
                .date{
                    margin-right: $post-padding / 2;
                }
                .author{
                    margin-right: $post-padding / 2;
                }
            }
        }
    }
    .pagination{
        position: relative;
        display: none;
        margin: 20px auto;
        max-width: 600px;
        text-align: center;
        font-size: 13px;
        font-size: 1.3rem;
        .newer-posts{
            position: absolute;
            left: 0;
        }
        .older-posts{
            position: absolute;
            right: 0;
        }
    }
}

#footer{
    background: #252525;
    color: darken($white, 40%);
    text-transform: uppercase;
    font-size: 12px;
    font-size: 1.2rem;
    animation-delay: 1s;
    .colophon{
        margin: 0 auto;
        padding: 50px 20px;
        max-width: 600px;
        section{
            margin: 10px 0;
            &:first-child{
                margin-top: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .bottom{
        padding: 20px 20px;
        background: rgb(26, 25, 25);
        .attribution{
            margin: 0 auto;
            max-width: 600px;
            a{
                color: darken($white, 40%);
                &:hover{
                    color: $white;
                }
                i.fa.fa-heart{
                    color: rgb(216, 81, 81);
                }
            }
        }
    }
    a{
        border-color: rgba(255,255,255,0);
        color: $white;
        &:hover{
            border-color: $white;
        }
    }
}

@media screen and (min-width: $mobile-width){
    body{
        font-size: 18px;
        font-size: 1.8rem;
    }
    #header{
        height: 500px;
        .header-content{
        }
    }
    .single{
        #header{
            .blog-content{
                .blog-title{
                    letter-spacing: 0;
                    font-size: 18px;
                    font-size: 1.8rem;
                }
            }
        }
    }
}
@media screen and (min-width: $tablet-width){
    .home, .author{
        #header{
            max-height: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
    }
    .home-template, .archive-template{
        #header{
            .blog-content{
                .blog-description{
                    display: block;
                }
            }
        }
    }
    #header{
        height: 600px;
        .header-content{
            h1{
                font-size: 55px;
                font-size: 5.5rem;
            }
        }
    }
    #main{
        padding: 20px 20px;
        &.archive{
            .post{
                width: unquote("calc( 50% -  ( "+$gutter+"  / 2) )");
                &.featured{
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (min-width: $laptop-width){
    #main{
        box-sizing: border-box;
        &.archive{
            .post{
                width: unquote("calc( ( 100% - ("+$gutter+"* 2) ) / 3 )");
                &.featured{
                    width: unquote("calc( ( 100% - ("+$gutter+" * 2) ) * ( 2 / 3 ) + "+$gutter+")");
                }
            }
        }
    }
}
@media screen and (min-width: $desktop-width){
    .home, .author{
        #header{
            max-height: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }
    }
    #header{
        height: 700px;
        .header-content{
            h1{
                font-size: 55px;
                font-size: 5.5rem;
            }
        }
    }
    #main{
        &.archive{
            .post{
                width: unquote("calc( ( 100% - ("+$gutter+" * 3) ) / 4 )");
                &.featured{
                    width: unquote("calc( ( 100% - ("+$gutter+" * 3) ) / 2 + "+$gutter+")");
                }
            }
        }
    }
}