<section class="colophon">
    <section class="poweredby">Publicerat med <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
</section>
<section class="bottom">
    <section class="attribution">
        <a href="http://github.com/Reedyn/Saga">Built with <i class="fa fa-heart"></i> and Free and Open-Source Software</a>.
    </section>
</section>