<div class="colophon">
    <div class="poweredby">{{{t "Published with {ghost}" ghost="<a href=\"http://ghost.org\" title=\"Ghost\"><i class=\"ghost-logo\"></i></a>"}}}</div>
</div>
<div class="bottom">
    <div class="attribution">
        <a href="http://github.com/Reedyn/Saga">{{{t "Built with {heart} and Free & Open-Source Software" heart="<i class=\"heart\"></i>"}}}</a>.
    </div>
</div>
