<section class="colophon">
    <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">All Rights Reserved</span>.</section>
    <section class="poweredby">Powered by <a class="icon-ghost" href="http://ghost.org">Ghost</a>.</section>
</section>
