<section class="colophon">
    <section class="contact">Kontakt: <a href="mailto:gustav@lindqvist.io">gustav@lindqvist.io</a> [<a href="/pgp">PGP Nyckel</a>]</section>
    <section class="copyright">Allt innehåll är licensierat med <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative Commons BY-NC-SA 4.0">Creative Commons BY-NC-SA 4.0</a></section>
    <section class="poweredby">Publicerat med <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
</section>