<nav class="links fadeIn animated">
    <ul>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
        <li class="twitter"><a title="Twitter" href="http://twitter.com/lindqvistgustav"><i class="fa fa-fw fa-twitter-square"></i></a></li>
        <li class="instagram"><a title="Instagram" href="http://instagram.com/gustavlindqvist"><i class="fa fa-fw fa-instagram"></i></a></li>
        <li class="flickr"><a title="Flickr" href="http://flickr.com/photos/gustavlindqvist"><i class="fa fa-fw fa-flickr"></i></a></li>
        <li class="github"><a title="GitHub" href="http://github.com/reedyn"><i class="fa fa-fw fa-github-square"></i></a></li>
    </ul>
</nav>