<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" rel="previous" href="{{page_url prev}}">&larr;<span class="pagination-text"> Newer Posts</span></a>
    {{/if}}
    <span class="page-number">Page {{page}} of {{pages}}</span>
    {{#if next}}
        <a class="older-posts" rel="next" href="{{page_url next}}"><span class="pagination-text">Older Posts </span>&rarr;</a>
    {{/if}}
</nav>