#footer {
    background: #252525;
    color: darken($white, 40%);
    text-transform: uppercase;
    font-size: 12px;
    font-size: 1.2rem;
    animation-delay: 1s;


    .colophon {
        padding: 50px 20px;
        section {
            margin: 0 auto;
            max-width: $wrapper-width;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }

            .ghost-logo {
                display: inline-block;
                margin-left: 5px;
                width: 4.2em;
                height: 1.3em;
                background: #989898;
                vertical-align: text-bottom;
                transition: .2s all ease;
                mask-image: url(../images/ghost-logo.svg);
                mask-size: contain;
                mask-repeat: no-repeat;
                &:hover {
                    background-color: white;
                }
            }
        }
    }
    .bottom {
        padding: 20px 20px;
        background: rgb(26, 25, 25);
        section {
            margin: 0 auto;
            max-width: $wrapper-width;
            a {
                color: darken($white, 40%);
                &:hover {
                    color: $white;
                }
                i.fa.fa-heart {
                    color: rgb(216, 81, 81);
                }
            }
        }
    }
    a {
        border-color: rgba(255,255,255,0);
        color: $white;
        &:hover {
            border-color: $white;
        }
    }
    .heart {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        background: #FF4D4C;
        vertical-align: text-bottom;
        mask-image: url(../images/heart.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
    }
}