.grid {
    display: flex;
    flex-direction: column;
    @include respond-to(medium){
        display: grid;
        grid-gap: $gutter;
        grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
        grid-auto-flow: dense;
        .post {
            &.featured {
                grid-column: span 2;
            }
            &.tag-hash-tall {
                grid-row-end: span 2;
            }
        }
    }
}