.header {
    overflow: hidden;
    max-height: 90vh; // Always show a little bit of the post
    background-color: black;
    background-position: center;
    background-size: cover;

    .blog-header--navigation {
        overflow: hidden;
        padding: 0 20px;
        height: 60px;
        line-height: 60px;
        .blog-title {
            float: left;
            height: 100%;
            font-size: 15px;
            font-size: 1.5rem;
            font-weight: 700;
            &.blog-logo img {
                margin: 0;
                padding: 13px;
                padding-left: 0;
                width: auto;
                height: 100%;
            }
        }
        .blog-menu {
            float: right;
            ul.nav {
                list-style: none;
                font-size:12px;
                font-size: 1.2rem;
                text-transform: uppercase;
                margin: 0;
                li {
                    display: inline-block;
                    margin-right: 15px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    a {
                        border-bottom: 1px solid transparent;
                        &:hover {
                            border-color: black;
                        }
                    }
                }
            }
        }
    }

    .blog-header--content {
        position: relative;
        z-index: 20;
    }

    // Cover image specific code
    &.cover-image {
        position: relative;
        height: 200px;

        @include respond-to(tiny) {
            height: 300px;
            background-position: center;
            background-size: cover;
        }
        @include respond-to(small) {
            height: 400px;
            background-position: center;
            background-size: cover;
        }
        @include respond-to(medium) {
            height: 500px;
            background-position: center;
            background-size: cover;
        }
        @include respond-to(huge) {
            height: 600px;
            background-position: center;
            background-size: cover;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.7);
            z-index: 10;
        }

        // Position header navigation at the very top
        .blog-header--navigation {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            z-index: 20;
        }
    }
}