.header {
    background: black;
    color: rgba(white, .7);
    a {
        color: white;
    }
    &.home {
        background: white;
        color: rgba(black, .7);
        a {
            color: black;
        }
    }
    &.cover-image {
        position: relative;
        background: black;
        background-position: center;
        background-size: cover;
        color: rgba(white, .7);
        color: white;
        a {
            color: white;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            background: rgba(black, .7);
        }
    }

    .header--top {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        max-height: 60px;
        font-size: 14px;
        font-size: 1.4rem;
        line-height: 60px;

        justify-content: space-between;
        a.blog-title {
            float: left;
            padding-left: 20px;
            height: 60px;
            font-weight: 600;
            img.blog-logo {
                margin: 15px 0;
                padding: 0;
                width: auto;
                height: 30px;
            }
        }

        .blog-description {
            display: none;
            margin-left: 5px;

            @include respond-to(small) {
                display: inline;
            }
        }

        nav.blog-navigation {
            float: right;
            ul.nav {
                margin: 0;
                li {
                    display: inline-block;
                }
            }
        }
    }

    .hero {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - 60px);
        height: 400px;

        @include respond-to(tiny) {
            height: 500px;
        }
        @include respond-to(small) {
            height: 600px;
        }
        @include respond-to(medium) {
            height: 700px;
        }
        @include respond-to(large) {
            height: 700px;
        }

        .hero-content {
            margin: auto;
            max-width: $wrapper-width;
            width: calc(100% - 40px);
            color: rgba(white,.7);
            p {
                margin-top: 1rem;
                margin-bottom: 1rem;
            }
            h1 {
                margin-top: 0;
                color: white;
                img {
                    max-width: 400px;
                    width: 100%;
                }
            }
            a {
                color: rgba(white,.7);
                text-decoration: dotted;
                &:hover {
                    color: white;
                }
            }

            .post--tags {
                display: block;
                overflow: auto;
                margin-top: 2rem;
                width: 100%;
                font-size: 12px;
                font-size: 1.2rem;
                a {
                    display: inline-block;
                    float: left;
                    margin-right: 3px;
                    margin-bottom: 3px;
                    padding: 6px;
                    border: 1px solid rgba(255,255,255,.6);
                    background: transparent;
                    color: rgba(255,255,255,.6);
                    text-transform: uppercase;
                    line-height: 1;
                    &:hover {
                        background: white;
                        color: black !important;
                    }
                }
            }
        }
    }
}