html {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 62.5%;
}

body {
    display: flex;
    height: 100%;
    min-height: 100%;
    flex: 1;
    flex-direction: column;
    background: $color--background--light;
    color: $color--text--dark;
    font-family: $font--sans-serif;
    font-size: $font-size;
    overflow-y: scroll;

    main {
        flex: 1;
    }
}

* {
    box-sizing: border-box;
}
