@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSans-Regular.woff2) format("woff2"), url(../NotoSans-Regular.woff) format("woff");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/NotoSans-Medium.woff2) format("woff2"), url(../NotoSans-Medium.woff) format("woff");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSans-Bold.woff2) format("woff2"), url(../NotoSans-Bold.woff) format("woff");
}

@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NotoSerif-Regular.woff2) format("woff2"), url(../NotoSerif-Regular.woff) format("woff");
}

@font-face {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/NotoSerif-Italic.woff2) format("woff2"), url(../NotoSerif-Italic.woff) format("woff");
}

@font-face {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NotoSerif-Bold.woff2) format("woff2"), url(../NotoSerif-Bold.woff) format("woff");
}
