/* Breakpoints
-------------------
Breakpoints for various screen sizes
------------------- */

$huge: 140rem;
$large: 100rem;
$medium: 80rem;
$small: 55rem;
$tiny: 40rem;
$mini: 30rem;
$micro: 20rem;

$breakpoints: (
    "huge": (min-width: $huge),
    "large": (min-width: $large),
    "medium": (min-width: $medium),
    "small": (min-width: $small),
    "tiny": (min-width: $tiny),
);
