/* Fonts
---------------
Fonts
--------------- */

$font--sans-serif: "Noto Sans", sans-serif;
$font--serif: "Noto Serif", serif;
$font--monospace: "Inconsolata", "Courier New";

$font-heading: $font--sans-serif;

$font-size: 1.6rem;
$font-size--small: 1.4rem;

$font-height--heading: 1.2;
$font-height: 1.5;
