$margin--small: .75rem;
$margin--medium: 1.5rem;
$margin--large: 3rem;

$padding--small: 1rem;
$padding--medium: 2rem;
$padding--large: 4rem;

$padding--inline-block: .3rem .6rem;
$padding--block: .8rem 1.2rem;

$wrapper-width: 74rem;
$gutter: $margin--medium;
$header-height: 6rem;

$profile-image--size: 40rem;

$input-field--height: 4rem;
