.footer {
    background: $color--dark-grey;
    color: darken(white, 40%);
    text-transform: uppercase;
    animation-delay: 1s;


    .colophon {
        padding: $padding--large $padding--medium;
        section {
            margin: 0 auto;
            max-width: $wrapper-width;
            &:first-child {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }

            .ghost-logo {
                display: inline-block;
                margin-left: .4rem;
                width: 4.2em;
                height: 1.3em;
                background: $color--grey;
                vertical-align: text-bottom;
                transition: .2s all ease;
                mask-image: url(../images/ghost-logo.svg);
                mask-size: contain;
                mask-repeat: no-repeat;
                &:hover {
                    background-color: white;
                }
            }
        }
    }
    .bottom {
        padding: $padding--medium;
        background: $color--very-dark-grey;
        section {
            margin: 0 auto;
            max-width: $wrapper-width;
            a {
                color: $color--grey;
                &:hover {
                    color: white;
                }
                i.fa.fa-heart {
                    color: $color--hearty-red;
                }
            }
        }
    }
    a {
        border-color: white;
        color: white;
        &:hover {
            border-color: white;
        }
    }
    .heart {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        background: #FF4D4C;
        vertical-align: text-bottom;
        mask-image: url(../images/heart.svg);
        mask-size: contain;
        mask-repeat: no-repeat;
    }
}