.header {
    background: black;
    color: $color--light-grey;
    a {
        color: white;
    }
    &.cover-image {
        position: relative;
        background: black;
        background-position: center;
        background-size: cover;
        &:after {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(black, .7);
            content: "";
        }
    }

    &.-dark {
        color: $color--light-grey;
        a {
            color: white;
        }
    }

    &.-light {
        color: $color--dark-grey;
        a {
            color: black;
        }

        // Invert the logotype when background is light
        .header--top a.blog-title img.blog-logo {
            filter: invert(1);
        }
    }

    .header--top {
        position: relative;
        z-index: 10;
        display: flex;
        overflow: hidden;
        max-height: $header-height;
        flex-direction: row;
        justify-content: space-between;
        font-size: $font-size--small;
        line-height: $header-height;
        a.blog-title {
            height: $header-height;
            padding-right: $margin--small;
            padding-left: $gutter;
            float: left;
            font-weight: 600;
            img.blog-logo {
                width: auto;
                height: $header-height/2;
                padding: 0;
                margin: $header-height/4 0;
            }

            &:hover,
            &:focus {
                background: black;
                color: white;
                text-decoration: none;
            }
        }

        .blog-description {
            display: none;

            @include respond-to(tiny) {
                display: inline;
            }
        }

        nav.blog-navigation {
            float: right;
            ul.nav {
                margin: 0;
                li {
                    display: inline-block;
                }
            }
        }
    }

    .hero {
        position: relative;
        z-index: 10;
        display: flex;
        height: 40rem;
        max-height: calc(100vh - #{$header-height});
        flex-direction: column;

        @include respond-to(tiny) {
            height: 50rem;
        }

        @include respond-to(small) {
            height: 60rem;
        }

        @include respond-to(medium) {
            height: 70rem;
        }

        @include respond-to(large) {
            height: 70rem;
        }

        .hero-content {
            width: calc(100% - 4rem);
            max-width: $wrapper-width;
            margin: auto;
            color: $color--light-grey;

            @include respond-to(medium) {
                width: calc(100% - #{$header-height});
            }
            p {
                margin-top: $margin--small;
                margin-bottom: $margin--small;
            }
            h1 {
                margin-top: 0;
                color: $color--text--light;
                img {
                    width: 100%;
                    max-width: $profile-image--size;
                }
            }
            a {
                border-bottom: 1px dotted $color--light-grey;
                color: $color--light-grey;
                &:hover,
                &:focus {
                    border-bottom: 1px solid $color--text--light;
                    color: $color--text--light;
                    text-decoration: none;
                }
            }

            .post--tags {
                display: block;
                overflow: auto;
                width: 100%;
                margin-top: $margin--small;
                a {
                    display: inline-block;
                    padding: .6rem;
                    border: 1px solid rgba(255, 255, 255, .6);
                    margin-right: .3rem;
                    margin-bottom: .3rem;
                    background: transparent;
                    color: rgba(255, 255, 255, .6);
                    float: left;
                    font-size: $font-size--small;
                    line-height: 1;
                    text-transform: uppercase;
                    &:hover,
                    &:focus {
                        background: $color--text--light;
                        color: $color--text--dark !important;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

// Light header

// Dark header
