{{!< default}}
<header role="banner" id="header" class="header animated fadeIn">
    <section id="top-navigation" class="header--top"  aria-label="{{t "Top navigation"}}">
        {{>header-navigation}}
    </section>
    <section id="hero" class="hero post-meta">
        <div class="hero-content">
            <h1 id="{{id}}-title" class="tag-title animated fadeInUp delay-1">{{statusCode}}</h1>
            <p class="tag-data animated fadeInUp delay-2"><span class="tag-description">{{message}}</span></p>
        </div>
    </section>
</header>