{{!< default}}
<header id="header" class="header animated fadeIn">
    <section class="header--top ">
        {{>header-navigation}}
    </section>
    <section class="hero post-meta">
        <div class="hero-content">
            <h1 class="tag-title animated fadeInUp delay-1">{{statusCode}}</h1>
            <p class="tag-data animated fadeInUp delay-2"><span class="tag-description">{{message}}</span></p>
        </div>
    </section>
</header>
<main id="main" class="main animated fadeIn delay-3">
</main>