{{!< default}}
<header id="header" class="animated fadeIn">
    <div class="header-background">
    <section class="blog-content">
        <a itemprop="name url" class="blog-title" href="/">{{@blog.title}}</a>
        <span itemprop="description" class="blog-description">{{@blog.description}}</span>
        {{> links}}
    </section>
    <section class="header-content">
        <h1 class="post-title animated fadeInUp">{{{tag.name}}}</h1>
    </section>
    </div>
</header>
<main id="main" class="index">
    {{> loop}}
</main>