{{!< default}}
<header id="header" class="header {{#if tag.image_image}}cover-image {{/if}}animated fadeIn"{{#if tag.image_image}} style="background-image: url({{tag.image_image}})"{{/if}}>
    <div class="header-background">
        <section class="blog-header--navigation animated fadeIn">
            {{>header-navigation}}
        </section>
    <section class="header-content">
        <h1 class="tag-title animated fadeInUp">{{tag.name}}</h1>
        <span class="tag-data"><span class="tag-description animated fadeInUp">{{tag.description}}</span></span>
    </section>
    </div>
</header>
<main id="main" class="main">
    {{> feed}}
</main>