.header {
    .header--top {
        nav.blog-navigation {
            float: right;
            ul {
                display: flex;
                margin: 0 $margin--small 0 0;
                list-style: none;
                li {
                    margin: 0;
                    font-size: $font-size--small;

                    a {
                        display: block;
                        padding: 0 $padding--small * .5;
                        &:hover,
                        &:focus {
                            background: $color--very-dark-grey;
                            color: $color--text--light;
                            text-decoration: none;
                        }
                    }

                    &[class$="icon"] {
                        margin-right: .4rem;
                        .label {
                            display: none;
                        }
                        a {
                            &:before {
                                display: inline-block;
                                width: 2.5rem;
                                height: 2.5rem;
                                margin-top: -.5rem;
                                background-color: $color--grey;
                                background-size: contain;
                                content: "";
                                mask-size: contain;
                                vertical-align: middle;
                            }

                            &:hover:before,
                            &:focus:before {
                                background-color: black;
                            }
                        }
                    }
                    &.nav-github-icon {
                        a:before {
                            mask-image: url(../images/github.svg);
                        }
                    }
                    &.nav-twitter-icon {
                        a:before {
                            mask-image: url(../images/twitter.svg);
                        }
                    }
                    &.nav-rss-icon {
                        a:before {
                            mask-image: url(../images/rss.svg);
                        }
                    }
                    &.nav-facebook-icon {
                        a:before {
                            mask-image: url(../images/facebook.svg);
                        }
                    }
                    &.nav-download-icon {
                        a:before {
                            mask-image: url(../images/download.svg);
                        }
                    }
                    &.nav-image-icon {
                        a:before {
                            mask-image: url(../images/image.svg);
                        }
                    }
                    &.nav-tumblr-icon {
                        a:before {
                            mask-image: url(../images/tumblr.svg);
                        }
                    }
                    &.nav-steam-icon {
                        a:before {
                            mask-image: url(../images/steam.svg);
                        }
                    }
                    &.nav-googleplus-icon {
                        a:before {
                            mask-image: url(../images/google-plus.svg);
                        }
                    }
                    &.nav-camera-icon {
                        a:before {
                            mask-image: url(../images/camera.svg);
                        }
                    }
                    &.nav-email-icon {
                        a:before {
                            mask-image: url(../images/email.svg);
                        }
                    }
                    &.nav-telegram-icon {
                        a:before {
                            mask-image: url(../images/telegram.svg);
                        }
                    }
                    &.nav-camera-icon {
                        a:before {
                            mask-image: url(../images/camera.svg);
                        }
                    }
                    &:last-of-type {
                        margin-right: $margin--small;
                    }
                }
            }
        }
    }
    &.cover-image .header--top nav.blog-navigation ul li[class$="icon"] a:before {
        background-color: white;
    }
}
