.kg-card.kg-width-wide {
    width: 100vw;
    max-width: 100%;
    @include respond-to(medium) {
        margin-top: $margin--large;
        margin-bottom: $margin--small;
        max-width: $wrapper-width - 6rem;
    }
    @include respond-to(large) {
        max-width: $wrapper-width + 10rem;
    }
    @include respond-to(huge) {
        max-width: $wrapper-width + 50rem;
    }

    img {
        max-width: 100%;
    }
}