.kg-card.kg-embed-card {
    iframe {
        width: 100%;
        height: auto;
    }

    &.responsive-video {
        position: relative;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
