.kg-card.kg-bookmark-card {
    width: 100%;
    position: relative;

    .kg-bookmark-container {
        display: flex;
        flex-direction: column;
        color: $color--dark-grey;
        font-family: inherit;
        text-decoration: none;
        @include respond-to(small) {
            flex-direction: row-reverse;
        }
    }

    .kg-bookmark-container:hover {
        text-decoration: none;
    }

    .kg-bookmark-content {
        flex-basis: 0;
        flex-grow: 999;
        padding: $padding--medium;
        order: 1;
        background: $color--very-light-grey;
    }

    .kg-bookmark-title {
        font-weight: 600;
    }

    .kg-bookmark-metadata,
    .kg-bookmark-description {
        margin-top: $margin--small;
    }

    .kg-bookmark-metadata {
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .kg-bookmark-description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .kg-bookmark-icon {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        vertical-align: text-bottom;
        margin-right: 1rem;
        margin-bottom: .05rem;
    }

    .kg-bookmark-thumbnail {
        display: flex;
        flex-basis: 24rem;
        flex-grow: 1;
    }

    .kg-bookmark-thumbnail img {
        max-width: 100%;
        height: auto;
        vertical-align: bottom;
        object-fit: cover;
    }

    .kg-bookmark-author {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .kg-bookmark-publisher::before {
        content: "–";
        margin: 0 .4em;
    }
}