.content {
    a {
        color: $color--link;
        transition: all .2s;
        &:hover,
        &:focus {
            text-decoration: underline;
        }

        &:visited {
            color: $color--link--visited;
        }
    }

    h2, h3, h4, h5, h6 {
        width: 100%;
    }
}