.kg-card.kg-image-card {
    width: 100%;
    img {
        min-height: 5rem;
    }
    figcaption {
        margin-top: $margin--small;
        font-family: $font--serif;
        text-align: center;
    }
}
