.kg-card.kg-bookmark-card {
    position: relative;
    width: 100%;

    .kg-bookmark-container {
        display: flex;
        flex-direction: column;
        color: $color--dark-grey;
        font-family: inherit;
        text-decoration: none;

        @include respond-to(small) {
            flex-direction: row-reverse;
        }
    }

    .kg-bookmark-container:hover,
    .kg-bookmark-container:focus {
        text-decoration: none;
    }

    .kg-bookmark-content {
        flex-basis: 0;
        flex-grow: 999;
        order: 1;
        padding: $padding--medium;
        background: $color--very-light-grey;
    }

    .kg-bookmark-title {
        font-weight: 600;
    }

    .kg-bookmark-metadata,
    .kg-bookmark-description {
        margin-top: $margin--small;
    }

    .kg-bookmark-metadata {
        overflow: hidden;
        align-items: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .kg-bookmark-description {
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }

    .kg-bookmark-icon {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        margin-right: 1rem;
        margin-bottom: .3rem;
        vertical-align: text-bottom;
    }

    span.kg-bookmark-publisher {
        &:before {
            content: none;
        }
    }

    .kg-bookmark-thumbnail {
        display: flex;
        flex-basis: 24rem;
        flex-grow: 1;
    }

    .kg-bookmark-thumbnail img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        vertical-align: bottom;
    }

    .kg-bookmark-author {
        display: none;
    }

    .kg-bookmark-publisher:before {
        margin: 0 .4em;
        content: "–";
    }
}
