nav.pagination {
    line-height: 12rem;
    text-align: center;
    .newer-posts,
    .older-posts {
        color: black;
    }

    .page-number {
        margin: 0 $margin--medium;
        color: $color--grey;
    }
}
