.read-more {
    max-height: 100vh;
    padding: $padding--large 0;
    background: black;
    color: $color--text--light;

    &:visited {
        color: $color--text--light;
    }

    @include respond-to(small) {
        padding: $padding--large*1.5 0;
    }

    @include respond-to(large) {
        padding: $padding--large*2 0;
    }

    &.cover-image {
        position: relative;
        background: black;
        background-position: center;
        background-size: cover;
        &:after {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(black, .7);
            content: "";
        }
    }

    .hero-content {
        position: relative;
        z-index: 10;
        width: calc(100% - #{$margin--large});
        max-width: $wrapper-width;
        margin: auto;

        .post-title {
            display: block;
            color: $color--text--light;
            font-size: calc(#{$font-size--heading-2*1.5} + #{$scaling--heading-2*1.5}); // Slightly larger than H2
            letter-spacing: -.2rem;
            line-height: 1.2;
            &:visited {
                color: $color--text--light;
            }
        }
        p {
            margin-top: $margin--small;
            margin-bottom: $margin--small;
        }

        p.read-more-text {
            margin-bottom: $margin--large;
            font-size: $font-size--small;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }
    }
}
