.subscribe-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    background: $color--background--modal;
    color: $color--text--dark;

    &__content {
        position: relative;
        z-index: 100;
        max-width: 100%;
        align-self: center;
        padding: $padding--medium;
        margin: auto;
        background: white;
        text-align: center;
    }

    &__title {
        margin-top: 0;
    }

    &__close {
        &.-overlay {
            position: absolute;
            z-index: 50;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &.-button {
            position: absolute;
            top: 0;
            right: 0;
            width: $header-height;
            height: $header-height;

            &:after {
                position: absolute;
                top: 8px;
                right: 0;
                width: 20px;
                height: 2px;
                color: white;
                content: "+";
                font-size: 45px;
                transform: rotate(45deg) translateY(-50%);
            }
        }
    }
}

.subscribe-form {
    &__group {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &__input {
        height: $input-field--height;
        padding: 0 $padding--small;
        border: 0;
        border-radius: $border-radius--button;
        font-size: $font-size;
        line-height: $input-field--height;

        &.-email {
            width: $mini;
            border: 1px solid $color--light-grey;
            margin-right: .4rem;
        }

        &.-submit {
            position: relative;
            background: $color--blue;
            color: $color--text--light;
            cursor: pointer;

            &:hover,
            &:focus {
                background: darken($color--blue, 25);
            }

            .button-loader {
                position: absolute;
                top: 1px;
                left: 50%;
                display: inline-block;
                height: 0;
                transform: scale(.9) translateX(-50%);
                visibility: hidden;
                svg {
                    path {
                        fill: white;
                    }
                }
            }
        }
    }
    &__message {
        margin: $margin--medium 0;

        &.-success {
            display: none;
            color: $color--success;
        }
        &.-error {
            display: none;
            color: $color--error;
        }
    }
}

.subscribe-success-message {
    position: fixed;
    z-index: 9000;
    top: 0;
    right: 0;
    left: 0;
    background: $color--success;
    color: $color--text--light;
    line-height: $header-height;
    text-align: center;
    transform: translateY(-175%);
    transition: all .35s cubic-bezier(.19, 1, .22, 1) .5s;
    visibility: visible;

    &.close {
        transform: translateY(-175%);
        transition: all 1.35s cubic-bezier(.19, 1, .22, 1);
        visibility: hidden;
    }

    .subscribe-close-button {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &:after {
            position: absolute;
            top: 8px;
            right: 0;
            width: 20px;
            height: 2px;
            color: white;
            content: "+";
            font-size: 45px;
            transform: rotate(45deg) translateY(-50%);
        }
    }
}

// States

.loading .subscribe-form__input.-submit {
    .button-loader {
        visibility: visible;
    }
    .button-content {
        visibility: hidden;
    }
}

.error .subscribe-form__message.-error {
    display: block;
    text-decoration: underline;
}

.success .subscribe-form__message.-success {
    display: block;
}

.subscribe-success .subscribe-success-message:not(.close) {
    transform: translateY(0);
    visibility: visible;
}
