img {
    text-align: center;
    line-height: 2;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    min-height: 50px;
}

img:before {
    content: " ";
    display: block;
    position: absolute;
    top: -10px;
    left: 0;
    height: calc(100% + 10px);
    width: 100%;
    background-color: $color--very-light-grey;
    border: 2px dotted $color--grey;
}

img:after {
    content: "Broken Image of " attr(alt);
    display: block;
    color: $color--dark-grey;
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    text-align: center;
}