a {
    color: $color--link;
    text-decoration: none;
    transition: all .2s;
    &:hover,
    &:focus {
        text-decoration: underline;
    }

    &:visited {
        color: $color--link--visited;
    }
}
