/* Colors
-------------------
All colors used throughout the theme
------------------- */

$color--transparent-black: rgba(0,0,0,.8);
$color--very-light-grey: #f7f7f7;
$color--light-grey: #dddddd;
$color--grey: #848484;
$color--medium-grey: #585858;
$color--dark-grey: #252525;
$color--very-dark-grey: #1d1d1d;

$color--marker-yellow: #FDFFB6;
$color--hearty-red: rgb(216, 81, 81);
