/* Fonts
---------------
Fonts
--------------- */

$font--sans-serif: "Noto Sans", sans-serif;
$font--serif: "Noto Serif", serif;
$font--monospace: "Inconsolata", "Courier New";

$font-heading: $font--sans-serif;

$font-size: 1.8rem;
$font-size--small: $font-size * .75