.kg-card.kg-width-wide {
    width: 100vw;
    max-width: 100%;
    @include respond-to(medium) {
        margin-top: 40px;
        margin-bottom: 20px;
        max-width: $wrapper-width - 60px;
    }
    @include respond-to(large) {
        max-width: $wrapper-width+100px;
    }
    @include respond-to(huge) {
        max-width: $wrapper-width+500px;
    }

    img {
        max-width: 100%;
    }
}