.content {
    .gallery {
        margin-left: -5px;
        padding: 5px;
        width: 100%;
        a {
            border: 0;
            &:hover {
                border-color: transparent;
            }
        }
        img {
            margin: auto;
            width: auto;
            height: auto;
        }
    }
}