.feed{
    position: relative;
    padding-bottom: 40px;
    #loadmore{
        position: absolute;
        bottom: 5px;
        left: 50%;
        text-transform: uppercase;
        transform: translateX(-50%);
        animation-delay: 1s;;
        a{
            padding: 10px 20px;
            border: 0;
            background: white;
            text-decoration: none;
            font-size: 14px;
            font-size: 1.4rem;
            cursor: pointer;
            &:hover{
                border: 0;
                background: #D5D5D5;
                text-decoration: none;
            }
        }
    }
    .post{
        float: left;
        box-sizing: border-box;
        margin: inherit;
        margin-bottom: $gutter;
        max-width: 100%;
        width: 100%;
        background: $white;
        transition: opacity 1s;

        $post-padding: 20px;
        @include respond-to(small){
            width: unquote("calc( 50% -  ( "+$gutter+"  / 2) )");
            &.featured{
                width: 100%;
            }
        }
        @include respond-to(large){
            width: unquote("calc( ( 100% - ("+$gutter+"* 2) ) / 3 )");
            &.featured{
                width: unquote("calc( ( 100% - ("+$gutter+" * 2) ) * ( 2 / 3 ) + "+$gutter+")");
            }
        }
        @include respond-to(huge){
            width: unquote("calc( ( 100% - ("+$gutter+" * 3) ) / 4 )");
            &.featured{
                width: unquote("calc( ( 100% - ("+$gutter+" * 3) ) / 2 + "+$gutter+")");
            }
        }
        a{
            border-color: rgba(0,0,0,0);
            &:hover{
                border-color: $black;
            }
        }
        .post-image{
            position: relative;
            display: block;
            overflow: hidden;
            border: 0;
            background: black;
            color: $white;
            img{
                margin: 0;
                max-width: 100%;
                width: 100%;
                opacity: .5;
                transition: all ease .5s;
            }
            .post-title{
                position: absolute;
                bottom: 0;
                left: 0;
                font-weight: 400;
                transition: transform ease .5s;
            }
            &:hover{
                img{
                    opacity: 1;
                    transform: scale(1.1);
                }
                .post-title{
                    transform: translateY(110%);
                }
            }
        }
        .post-title{
            margin: 0 $post-padding $post-padding $post-padding;
            padding-top: $post-padding;
            font-size: 25px;
            font-size: 2.5rem;
        }
        .post-content{
            box-sizing: border-box;
            margin: $post-padding - 5 $post-padding;
            color: darken($white, 40%);
            font-size: 14px;
            font-size: 1.4rem;
            cursor: default;
        }
        .post-meta{
            box-sizing: border-box;
            padding: 15px $post-padding;
            width: 100%;
            border-top: 1px solid #F7F7F7;
            background: #FFFFFF;
            color: #CCCCCC;
            font-size: 14px;
            font-size: 1.4rem;
            cursor: default;
            a{
                color: inherit;
                &:hover{
                    color: black;
                }
            }
            .date{
                margin-right: $post-padding / 2;
            }
            .author{
                margin-right: $post-padding / 2;
            }
        }
    }
}