.feed {
    .post {
        position: relative;
        overflow: hidden;
        padding: 30px;
        min-height: 25vh;
        background-color: #585858;
        background-position: center;
        background-size: cover;
        color: white;
        margin-bottom: $gutter;

        @include respond-to(tiny){

        }
        @include respond-to(small){

        }
        @include respond-to(medium){
        }
        a {
            color: inherit;
        }

        // Black overlay
        &.has-image:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.6);
        }

        .post--top-content, .post--bottom-content {
            position: relative;
            z-index: 20;
            max-width: $medium;
        }
        .post--tags {
            display: block;
            overflow: auto;
            margin-bottom: 15px;
            width: 100%;
            font-size: 12px;
            font-size: 1.2rem;
            a {
                display: inline-block;
                float: left;
                margin-right: 3px;
                padding: 6px;
                border: 1px solid rgba(255,255,255,.6);
                background: transparent;
                color: rgba(255,255,255,.6);
                text-transform: uppercase;
                line-height: 1;
                &:hover {
                    background: white;
                    color: $dark-grey !important;
                }
                &:not(:nth-of-type(1)) {
                    opacity:0;
                }
            }
            &:hover {
                a {
                    border-color: white;
                    color: white;
                }
                a:not(:nth-of-type(1)) {
                    display: inline-block;
                }
            }
        }
        &:hover .post--tags a {
            &:not(:nth-of-type(1)) {
                opacity: 1;
            }
        }

        .post--title {
            margin: 0;
            @include respond-to(tiny){

            }
            @include respond-to(small){

            }
            @include respond-to(medium){

            }
            a {
                font-size: inherit;
            }
        }

        .post--excerpt {
            margin: 15px 0;
            max-width: $small;
            color: rgba(255,255,255,.6);
            font-size: 13px;
            font-size: 1.3rem;
        }

        .post--read-time {
            font-size: 12px;
            font-size: 1.3rem;
            color: rgba(255,255,255,.6);
        }

        .post--meta {
            display: block;
            margin-top: 15px;
            color: rgba(255,255,255,.6);
            font-size: 15px;
            font-size: 1.5rem;
            line-height: 1;
            .author {
                color: white;
                a {
                    border-color: transparent;
                    &:hover {
                        border-color: white;
                    }
                }
            }
        }

        .post--bottom-content {
            position: absolute;
            bottom: 30px;
            left: 30px;
        }
    }
}