/* Metadata about post/author/post */
%data{
    color: $grey;
    font-size: 14px;
    font-size: 1.4rem;
    cursor: default;
    a{
        border: 0;
        color: #8D8D8D;
        &:hover{
            color: $white;
        }
    }
    > span{
        display: block;
    }
    .date, .location{
        animation-delay: .75s;
    }
    .tags, .website{
        animation-delay: 1s;
        i{
            font-size: 85%;
        }
    }
    .author, .bio{
        animation-delay: 1.25s;
    }
}