.read-more {
    display: flex;
    flex-direction: column;
    height: 300px;
    max-height: 100vh;
    background: black;
    color: rgba(white, .7);
    &.home {
        background: white;
        color: rgba(black, .7);
        a {
            color: black;
        }
    }
    &.cover-image {
        position: relative;
        background: black;
        background-position: center;
        background-size: cover;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            width: 100%;
            height: 100%;
            background: rgba(black, .7);
        }
    }

    &:hover {
        color: white;
        a {
            color: white;
        }
    }

    .hero-content {
        position: relative;
        z-index: 10;
        margin: auto;
        max-width: $wrapper-width;
        width: calc(100% - 40px);
        .post-title {
            display: block;
            letter-spacing: -2px;
            font-size: 35px;
            font-size: 3.5rem;
            line-height: 1.2;

            @include respond-to(tiny) {
                font-size: 40px;
                font-size: 4rem;
            }
            @include respond-to(small) {
                font-size: 45px;
                font-size: 4.5rem;
            }
            @include respond-to(medium) {
                font-size: 50px;
                font-size: 5rem;
            }
        }
        p {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        p.read-more-text {
            text-align: center;
            color: rgba(white, 0.7);
            font-weight: 700;
            margin-bottom: 3rem;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
    }


}