/* IMPORT
---------------
Importing compass and reset stylesheets and mixins.
--------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* VARIABLES
---------------
Setting up the variables. Default fonts, colors, widths and breakpoints.
--------------- */
html {
  max-height: 100%;
  height: 100%;
  font-size: 62.5%;
}

/* BASE STYLES
---------------
Setting up the base-layout and formatting for elements.
--------------- */
body {
  overflow-y: scroll;
  min-height: 100%;
  height: 100%;
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Noto Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.8;
}

#header {
  overflow: hidden;
  max-height: 100vh;
  background-color: #333333;
  background-position: center;
  background-size: cover;
}
#header .header-background {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
#header .header-content {
  margin: auto;
  padding: 60px 20px 20px 20px;
  width: 600px;
  color: #FFFFFF;
}
#header .header-content h1 {
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0;
  font-weight: 400;
  cursor: default;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
#header .header-content a {
  color: #FFFFFF;
  text-decoration: none;
}
#header .header-content .post-data, #header .header-content .tag-data, #header .header-content .author-data {
  color: gray;
  font-size: 14px;
  font-size: 1.4rem;
  cursor: default;
}
#header .header-content .post-data a, #header .header-content .tag-data a, #header .header-content .author-data a {
  border: 0;
  color: #8D8D8D;
}
#header .header-content .post-data a:hover, #header .header-content .tag-data a:hover, #header .header-content .author-data a:hover {
  color: #FFFFFF;
}
#header .header-content .post-data > span, #header .header-content .tag-data > span, #header .header-content .author-data > span {
  display: block;
}
#header .header-content .post-data .date, #header .header-content .post-data .location, #header .header-content .tag-data .date, #header .header-content .tag-data .location, #header .header-content .author-data .date, #header .header-content .author-data .location {
  -webkit-animation-delay: .75s;
          animation-delay: .75s;
}
#header .header-content .post-data .tags, #header .header-content .post-data .website, #header .header-content .tag-data .tags, #header .header-content .tag-data .website, #header .header-content .author-data .tags, #header .header-content .author-data .website {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#header .header-content .post-data .tags i, #header .header-content .post-data .website i, #header .header-content .tag-data .tags i, #header .header-content .tag-data .website i, #header .header-content .author-data .tags i, #header .header-content .author-data .website i {
  font-size: 85%;
}
#header .header-content .post-data .author, #header .header-content .post-data .bio, #header .header-content .tag-data .author, #header .header-content .tag-data .bio, #header .header-content .author-data .author, #header .header-content .author-data .bio {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
#header .blog-content .blog-title {
  float: left;
  border: 0;
  color: #FFFFFF;
  font-weight: 700;
  line-height: 60px;
}
#header .blog-content .blog-description {
  display: none;
  float: left;
  margin-left: 10px;
  color: #cccccc;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 60px;
  cursor: default;
}
#header .blog-content nav.links {
  float: right;
  line-height: 60px;
  cursor: default;
}
#header .blog-content nav.links ul {
  margin: 0;
  list-style: none;
  cursor: default;
}
#header .blog-content nav.links ul li {
  display: inline-block;
  cursor: default;
}
#header .blog-content nav.links ul li a {
  border: 0;
  color: #FFFFFF;
}

.home-template #header, .archive-template #header {
  position: relative;
  height: 60px;
  background: #FFFFFF;
}
.home-template #header .header-background, .archive-template #header .header-background {
  background: none;
}
.home-template #header .blog-content, .archive-template #header .blog-content {
  position: absolute;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  color: #999999;
}
.home-template #header .blog-content a, .archive-template #header .blog-content a {
  color: #999999;
}
.home-template #header .blog-content a:hover, .archive-template #header .blog-content a:hover {
  color: black;
}
.home-template #header .blog-content .blog-title, .archive-template #header .blog-content .blog-title {
  margin: 0;
  letter-spacing: 0;
  font-size: 14px;
  font-size: 1.4rem;
}
.home-template #header .blog-content nav.links ul li a, .archive-template #header .blog-content nav.links ul li a {
  color: #999999;
}
.home-template #header .blog-content nav.links ul li a:hover, .archive-template #header .blog-content nav.links ul li a:hover {
  color: black;
}

.tag-template #main article, .author-template #main article {
  position: relative;
}

.post-template #header, .tag-template #header, .author-template #header {
  position: relative;
}
.post-template #header .blog-content, .tag-template #header .blog-content, .author-template #header .blog-content {
  position: absolute;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
}
.post-template #header .blog-content .blog-title, .tag-template #header .blog-content .blog-title, .author-template #header .blog-content .blog-title {
  margin: 0;
  letter-spacing: 0;
  font-size: 14px;
  font-size: 1.4rem;
}
.post-template #header .blog-content .blog-description, .tag-template #header .blog-content .blog-description, .author-template #header .blog-content .blog-description {
  display: none;
}

.post-template #main, .page-template #main {
  padding: 40px 20px;
  background: #FFFFFF;
}

#main {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  padding: 20px;
}
#main article {
  margin: 0 auto;
  max-width: 600px;
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
#main article .post-meta h2 {
  margin-top: 10px;
}
#main article .post-content > *:first-child {
  margin-top: 0;
}
#main article .post-content > *:last-child {
  margin-bottom: 0;
}
#main #feed {
  position: relative;
  padding-bottom: 40px;
}
#main #feed #loadmore {
  position: absolute;
  bottom: 5px;
  left: 50%;
  text-transform: uppercase;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#main #feed #loadmore a {
  padding: 10px 20px;
  border: 0;
  background: white;
  text-decoration: none;
  font-size: 14px;
  font-size: 1.4rem;
  cursor: pointer;
}
#main #feed #loadmore a:hover {
  border: 0;
  background: #D5D5D5;
  text-decoration: none;
}
#main.archive {
  overflow: hidden;
  background: #f2f2f2;
}
#main.archive .post {
  float: left;
  box-sizing: border-box;
  margin: inherit;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  background: #FFFFFF;
  -webkit-transition: opacity 1s;
          transition: opacity 1s;
}
#main.archive .post a {
  border-color: transparent;
}
#main.archive .post a:hover {
  border-color: #000000;
}
#main.archive .post .post-image {
  position: relative;
  display: block;
  overflow: hidden;
  border: 0;
  background: black;
  color: #FFFFFF;
}
#main.archive .post .post-image img {
  margin: 0;
  max-width: 100%;
  width: 100%;
  opacity: .5;
  -webkit-transition: all ease .5s;
          transition: all ease .5s;
}
#main.archive .post .post-image .post-title {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 400;
  -webkit-transition: -webkit-transform ease .5s;
          transition: transform ease .5s;
}
#main.archive .post .post-image:hover img {
  opacity: 1;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
#main.archive .post .post-image:hover .post-title {
  -webkit-transform: translateY(110%);
      -ms-transform: translateY(110%);
          transform: translateY(110%);
}
#main.archive .post .post-title {
  margin: 0 20px 20px 20px;
  padding-top: 20px;
  font-size: 25px;
  font-size: 2.5rem;
}
#main.archive .post .post-content {
  box-sizing: border-box;
  margin: 15px 20px;
  color: #999999;
  font-size: 14px;
  font-size: 1.4rem;
  cursor: default;
}
#main.archive .post .post-meta {
  box-sizing: border-box;
  padding: 15px 20px;
  width: 100%;
  border-top: 1px solid #F7F7F7;
  background: #FFFFFF;
  color: #CCCCCC;
  font-size: 14px;
  font-size: 1.4rem;
  cursor: default;
}
#main.archive .post .post-meta a {
  color: inherit;
}
#main.archive .post .post-meta a:hover {
  color: black;
}
#main.archive .post .post-meta .date {
  margin-right: 10px;
}
#main.archive .post .post-meta .author {
  margin-right: 10px;
}
#main .pagination {
  position: relative;
  display: none;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  font-size: 13px;
  font-size: 1.3rem;
}
#main .pagination .newer-posts {
  position: absolute;
  left: 0;
}
#main .pagination .older-posts {
  position: absolute;
  right: 0;
}

#footer {
  background: #252525;
  color: #999999;
  text-transform: uppercase;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
#footer .colophon {
  margin: 0 auto;
  padding: 50px 20px;
  max-width: 600px;
}
#footer .colophon section {
  margin: 10px 0;
}
#footer .colophon section:first-child {
  margin-top: 0;
}
#footer .colophon section:last-child {
  margin-bottom: 0;
}
#footer .bottom {
  padding: 20px 20px;
  background: #1a1919;
}
#footer .bottom .attribution {
  margin: 0 auto;
  max-width: 600px;
}
#footer .bottom .attribution a {
  color: #999999;
}
#footer .bottom .attribution a:hover {
  color: #FFFFFF;
}
#footer .bottom .attribution a i.fa.fa-heart {
  color: #d85151;
}
#footer a {
  border-color: rgba(255, 255, 255, 0);
  color: #FFFFFF;
}
#footer a:hover {
  border-color: #FFFFFF;
}

@media screen and (min-width: 400px) {
  body {
    font-size: 18px;
    font-size: 1.8rem;
  }

  #header {
    height: 500px;
  }

  .single #header .blog-content .blog-title {
    letter-spacing: 0;
    font-size: 18px;
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 550px) {
  .home #header, .author #header {
    max-height: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  .home-template #header .blog-content .blog-description, .archive-template #header .blog-content .blog-description {
    display: block;
  }

  #header {
    height: 600px;
  }
  #header .header-content h1 {
    font-size: 55px;
    font-size: 5.5rem;
  }

  #main {
    padding: 20px 20px;
  }
  #main.archive .post {
    width: calc( 50% -  ( 20px  / 2) );
  }
  #main.archive .post.featured {
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  #main {
    box-sizing: border-box;
  }
  #main.archive .post {
    width: calc( ( 100% - (20px* 2) ) / 3 );
  }
  #main.archive .post.featured {
    width: calc( ( 100% - (20px * 2) ) * ( 2 / 3 ) + 20px);
  }
}
@media screen and (min-width: 1400px) {
  .home #header, .author #header {
    max-height: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  #header {
    height: 700px;
  }
  #header .header-content h1 {
    font-size: 55px;
    font-size: 5.5rem;
  }

  #main.archive .post {
    width: calc( ( 100% - (20px * 3) ) / 4 );
  }
  #main.archive .post.featured {
    width: calc( ( 100% - (20px * 3) ) / 2 + 20px);
  }
}
h1, h2, h3, h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Noto Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2;
}
h1 a, h2 a, h3 a, h4 a {
  border: 0;
}

h1, .blog-title {
  letter-spacing: -2px;
  font-size: 35px;
  font-size: 3.5rem;
}

h2 {
  font-size: 35px;
  font-size: 3.5rem;
}

h3 {
  font-size: 25px;
  font-size: 2.5rem;
}

h4 {
  font-weight: 700;
  font-size: 15px;
  font-size: 1.5rem;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  border-color: #000000;
  color: #000000;
}

p, blockquote, figure, canvas, iframe, form {
  margin-bottom: 20px;
}

.note {
  padding: 10px;
  background: #e6e6e6;
}

mark {
  padding: 2px;
  background-color: #FDFFB6;
  box-shadow: #FDFFB6 0 0 5px;
}

sup {
  vertical-align: super;
  font-size: 13px;
  font-size: 1.3rem;
}

blockquote {
  padding-left: 20px;
  border-left: 4px solid #e6e6e6;
  font-family: "Noto Serif", serif;
}
blockquote img {
  margin: 20px 0 !important;
  width: 100% !important;
}

q {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 125%;
  font-family: "Noto Serif", serif;
}

cite {
  display: block;
  color: #cccccc;
  text-transform: capitalize;
  font-style: normal;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "Noto Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;
}
cite a {
  border: none;
  color: inherit;
}
cite:before {
  content: "\2014 \2009";
}

ul, ol {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}
ul li, ol li {
  margin: 0;
}

ul {
  list-style: square;
}
ul ul, ul ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

ol {
  margin-left: 25px;
  list-style: decimal;
}
ol ul, ol ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

.gallery {
  margin-left: -5px;
  padding: 5px;
  width: 100%;
}
.gallery a {
  border: 0;
}
.gallery a:hover {
  border-color: none;
}
.gallery img {
  margin: auto;
  width: auto;
  height: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-left: calc(0% - 20px);
  max-width: 100%;
  max-width: calc(100% + 40px);
  width: 100%;
  width: calc(100% + 40px);
  height: auto;
}
img[src$="#small"] {
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  width: auto;
}
img[src$="#large"] {
  margin-left: calc(0% - 20px);
  max-width: calc(100% + 40px);
}
img:not(.full-loaded) {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
img.full-loaded {
  position: absolute !important;
  left: 0 !important;
  margin: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
}

code {
  padding: 3px 6px;
  background: #F1F1F1;
  color: #000000;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "Inconsolata", Consolas, "Droid Sans Mono", "Courier New";
}

pre {
  margin-top: 30px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  word-wrap: break-word;
}
pre code {
  padding: 0;
  background: none;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: "Inconsolata", Consolas, "Droid Sans Mono", "Courier New";
}

hr {
  height: 4px;
  border: 0;
  background: #e6e6e6;
}

.hidden {
  display: none;
}

.fluid-width-video-wrapper {
  margin-top: 30px;
  margin-bottom: 10px;
}

select, input, button {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  outline: 0;
  border: 0;
  background: #F1F1F1;
  -webkit-transition: background ease .2s;
          transition: background ease .2s;
}

button:hover {
  background: #cccccc;
}

@media screen and (min-width: 400px) {
  h1, .blog-title {
    font-size: 40px;
    font-size: 4rem;
  }

  h1, h2, h3, h4 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 550px) {
  h1, .blog-title {
    font-size: 50px;
    font-size: 5rem;
  }

  q {
    width: 100%;
    width: calc(100% + 40px);
  }

  img, q {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-left: calc(0% - 20px);
    max-width: 100%;
    max-width: calc(100% + 40px);
  }
}
@media screen and (min-width: 1000px) {
  .alignleft, .alignright {
    margin-bottom: 1em;
    padding-bottom: 0;
    width: 300px;
  }
  .alignleft img, .alignright img {
    margin: 0;
  }

  .alignleft {
    float: left;
    margin-right: 2em;
    margin-left: -160px;
  }
  .alignleft q {
    margin: 0;
    width: initial;
    text-align: right;
  }

  blockquote.alignleft {
    padding-right: 20px;
    padding-left: 0;
    border-right: 4px solid #e6e6e6;
    border-left: 0;
    text-align: right;
  }

  q.alignleft {
    margin-top: 0;
    text-align: right;
  }

  .alignright {
    float: right;
    margin-right: -160px;
    margin-left: 2em;
  }
  .alignright q, .alignrightq {
    margin: 0;
    width: initial;
    text-align: left;
  }

  q.alignright {
    margin: 0;
    text-align: left;
  }
}
@media screen and (min-width: 800px) {
  h1, .blog-title {
    font-size: 60px;
    font-size: 6rem;
  }

  img, q {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -5%;
    max-width: 110%;
    width: 110%;
  }
  img[src$="#large"], img [src$="#full"], q[src$="#large"], q [src$="#full"] {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -10%;
    max-width: 120%;
    width: 120%;
  }

  .full-image-container {
    margin: 40px 0;
  }

  .wide {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -10%;
    max-width: 120%;
    width: 120%;
  }

  .gallery {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: calc(-10% - 5px);
    max-width: 120%;
    width: 120%;
  }
}
@media screen and (min-width: 1400px) {
  img, q {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: -25%;
    max-width: 150%;
    width: 150%;
  }
  img[src$="#large"], img [src$="#full"], q[src$="#large"], q [src$="#full"] {
    margin-left: -50%;
    max-width: 200%;
    width: 200%;
  }

  .wide {
    margin-left: -50%;
    max-width: 200%;
    width: 200%;
  }

  .gallery {
    margin-left: calc(-50% - 5px);
    max-width: 200%;
    width: 200%;
  }
}
.hljs {
  display: block;
  background: none;
  color: #333333;
}

.hljs-comment, .hljs-template_comment, .diff .hljs-header, .hljs-javadoc {
  color: #999988;
  font-style: italic;
}

.hljs-keyword, .css .rule .hljs-keyword, .hljs-winutils, .javascript .hljs-title, .nginx .hljs-title, .hljs-subst, .hljs-request, .hljs-status {
  color: #333333;
  font-weight: bold;
}

.hljs-number, .hljs-hexcolor, .ruby .hljs-constant {
  color: #009999;
}

.hljs-string, .hljs-tag .hljs-value, .hljs-phpdoc, .tex .hljs-formula {
  color: #DD1144;
}

.hljs-title, .hljs-id, .coffeescript .hljs-params, .scss .hljs-preprocessor {
  color: #990000;
  font-weight: bold;
}

.javascript .hljs-title, .lisp .hljs-title, .clojure .hljs-title, .hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title, .haskell .hljs-type, .vhdl .hljs-literal, .tex .hljs-command {
  color: #445588;
  font-weight: bold;
}

.hljs-tag {
  color: #000080;
  font-weight: normal;
}
.hljs-tag .hljs-title {
  color: #000080;
  font-weight: normal;
}

.hljs-rules .hljs-property, .django .hljs-tag .hljs-keyword {
  color: #000080;
  font-weight: normal;
}

.hljs-attribute, .hljs-variable, .lisp .hljs-body {
  color: teal;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol, .ruby .hljs-symbol .hljs-string, .lisp .hljs-keyword, .tex .hljs-special, .hljs-prompt {
  color: #990073;
}

.hljs-built_in, .lisp .hljs-title, .clojure .hljs-built_in {
  color: #0086B3;
}

.hljs-preprocessor, .hljs-pragma, .hljs-pi, .hljs-doctype, .hljs-shebang, .hljs-cdata {
  color: #999999;
  font-weight: bold;
}

.hljs-deletion {
  background: #FFDDDD;
}

.hljs-addition {
  background: #DDFFDD;
}

.diff .hljs-change {
  background: #0086B3;
}

.hljs-chunk {
  color: #AAAAAA;
}

.fluidbox {
  outline: none;
}

.hidden {
  display: none;
}

.fluidbox-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.fluidbox-wrap {
  position: relative;
  margin: 0 auto;
  background-position: center center;
  background-size: cover;
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.fluidbox-ghost {
  position: absolute;
  background-position: center center;
  background-size: 100% 100%;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}

.fluidbox-closed .fluidbox-ghost {
  -webkit-transition-delay: 0, 0, .25s, 0;
          transition-delay: 0, 0, .25s, 0;
  -webkit-transition-property: top, left, opacity, -webkit-transform;
          transition-property: top, left, opacity, transform;
}
.fluidbox-closed .fluidbox-wrap img {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-property: opacity;
          transition-property: opacity;
}

.fluidbox-opened .fluidbox-ghost {
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
