.hidden {
    display: none;
}

@include respond-to(large) {
    .alignleft, .alignright {
        margin-bottom: $margin--medium;
        padding-bottom: 0;
        width: 30rem;
        img {
            margin: 0;
        }
    }
    .alignleft {
        float: left;
        margin-right: $margin--medium;
        margin-left: -16rem;
        q {
            margin: 0;
            width: initial;
            text-align: right;
        }
    }

    blockquote.alignleft {
        padding-right: $padding--medium;
        padding-left: 0;
        border-right: .4rem solid $color--light-grey;
        border-left: 0;
        text-align: right;
    }

    q.alignleft {
        margin-top: 0;
        text-align: right;
    }

    .alignright {
        float: right;
        margin-right: -16rem;
        margin-left: $margin--medium;
        q, &q {
            margin: 0;
            width: initial;
            text-align: left;
        }
    }
    q.alignright {
        margin: 0;
        text-align: left;
    }
}