pre {
    width: 100vw;
    max-width: 100%;
    padding: .5rem 1.5rem;
    background: darken(white, 3%);
    overflow-x: scroll;
    margin:  {
        top: $margin--medium;
        right: 0;
        bottom: 0;
        left: 0;
    }
    word-wrap: break-word;
    code {
        padding: 0;
        background: none;
        font-size: 1.2rem;
        font-family: $font--monospace;

        @include respond-to(medium) {
            font-size: 1.5rem;
        }
    }
}