.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.delay-1 {
    animation-delay: .2s;
}
.delay-2 {
    animation-delay: .4s;
}
.delay-3 {
    animation-delay: .6s;
}
.delay-4 {
    animation-delay: .8s;
}
.delay-5 {
    animation-delay: 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.fadeInUp {
    animation-name: fadeInUp;
}