.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.delay-1 {
    animation-delay: 0.25s;
}
.delay-2 {
    animation-delay: 0.5s;
}
.delay-3 {
    animation-delay: 0.75s;
}
.delay-4 {
    animation-delay: 1s;
}
.delay-5 {
    animation-delay: 1.25s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeInUp {
    0% {
        transform: translate3d(0,100%,0);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}
.fadeInUp {
    animation-name: fadeInUp;
}
