html {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 62.5%;
}

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
    min-height: 100%;
    background: white;
    color: $color--transparent-black;
    font-size: $font-size;
    font-family: $font--sans-serif;
    line-height: 1.8;

    @include respond-to(tiny) {
        font-size: $font-size;
    }

    main {
        flex: 1;
    }
}

* {
    box-sizing: border-box;
}